body {
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    letter-spacing: 3px;
}

.full-height {
    height: 100vh;
}

.redditImages {
    /* width: 14%; */
}

input {
    text-transform: lowercase;
    letter-spacing: 8px;
}

form {
    width: 100%;
    /* margin: 0 auto!important;
    text-align: center; */
    /* position: fixed; */
    z-index: 999;
}

.bootstrap-switch {
    margin: auto 0!important;
    text-align: center!important;
    width: auto!important;
}

.bootstrap-switch-container {
    margin: inherit!important;
    width: inherit!important;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.padding-to-center {
    padding-left: 105px;
}

.float_right {
    float: right;
}

.nsfw_group {
    padding: 0 20px 0 0;
    width: 10%;
}

.nsfw_center {
    text-align: center;
}

.dropdown-grid .dropdown {
    /* text-align: center; */
    /* float: left; */
    /* z-index: 1000; */
}

form .dropdown {
    position: relative;
}

header {
    padding: 13px;
    height: 220px;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
}

.second-view header {
    position: fixed;
    height: 160px;
    background: #a52a2b;
}

.spacer {
    padding: 10px;
}

.carousel {
    width: 32% !important;
}

.pageTitle {}

.text-center {
    text-align: center;
    color: black;
    font-size: 36px;
}

.container-fluid {
    padding: 10px;
    overflow-x: hidden;
}

.form-control {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition: none!important;
    transition: none!important;
    border: inherit;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

button {
    border: none;
    color: #999999;
    background: none;
    text-transform: lowercase;
    letter-spacing: 3px;
}

section {
    top: 50%;
}

section .input-style .form-control {
    display: block;
    width: 82%;
    height: initial;
    font-size: -webkit-xxx-large;
}

.fixed-centered-section {
    /* position: fixed;
    right: 261px; */
}

section .float_right {
    float: none
}

.submit-button {
    position: absolute;
    top: 27px;
    right: 0;
    width: 8.4em;
}

.submit-button:focus {
    outline: none;
}

.dropdown-submitted {
    margin-left: -8%;
}

.dropdown-grid {
    /* position: fixed; */
}

.second-view .submit-button {
    position: absolute;
    top: 2px;
    right: -84px;
    width: 8.4em;
}

.second-view .fixed-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-shadow: 0 1px 2px -2 rgba(34, 36, 38, .15);
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.second-view .center {
    /* margin: inherit; */
}

.submitted-items {
    max-height: 8em;
    overflow-y: scroll;
    border-bottom: 1px black solid;
    padding: 3px 20px;
}

.dropdown-menu {
    width: 100%;
    z-index:10000;
}

.dropdown-menu::-webkit-scrollbar {
    display: none;
}

/* 
width: 85%;
height: initial;
font-size: -webkit-xxx-large; */

.ui.segment {
    box-shadow: none;
    border: none;
    margin-top: 0;
    border-radius: 0;
}

.pushable{
    height: unset !important;
    overflow-y: hidden;
}

.pushable>.pusher {
    min-height: 100%;
}

.background {
    background: brown;
}

.top-padding {
    margin-top: 3.7em!important
}

.top-position-padding {
    top: 3.7em!important;
}